name: CI Quality Gate

on:
  push:
    branches: [ "master" ]

jobs:
  linting:
    name: Python Linting (Ruff)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: 'pip'

      - name: Install Ruff
        run: |
          python -m pip install --upgrade pip
          pip install ruff

      - name: Run Ruff Check (Linting)
        run: |
          ruff check src/* --output-format=github